#codeArea {
    width: 75%;
    min-width: var(--minWidthCodeArea);
    height: 100%;
    background-color: var(--codeAreaColor);
}
.filesListWrapper {
    width: 100%;
    background-color: var(--filesListWrapperColor);
    overflow: auto;
}
.filesList{
    display: flex;
    flex-direction: row;
}
.filesList > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px;
    background-color: var(--fileColor);
}  
.filesList > li > img {
    width: 30px;
    height: 30px;
    padding: 4px;
}  
.filesList > li > span {
    display: inline-block;
    line-height: 30px;
    padding: 5px;
} 

.fileCode {
    width: 100%;
    height: calc(100% - 12px - 30px - 10px - 8px);
}
.fileCode > ul {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}
.fileCode > ul > li {
    margin: 0;
    position: relative;
}
form {
    width: 100%;
    height: 100%;
}
textarea {
    width: 100%;
    height: calc(100% - 2px);
    padding: 16px;
    background-color: var(--textAreaColor);
    resize: none;
    outline: none;
}
/* textarea:focus {
    border-color: rgb(204, 204, 198);
} */
.filesListWrapper::-webkit-scrollbar {
    height: 8px;
}
textarea::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    border: 1px solid rgb(66, 66, 66);
    background: rgb(30, 30, 30); 
}
::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(79, 79, 79); 
}