#explorer {
    width: 25%;
    min-width: var(--minWidthExplorer);
    height: 100%;
    background-color: var(--explorerColor);
    padding: 4px;
    overflow: auto;
}
.folder, .file {
    margin-left: 20px;
}
#root {
    margin-left: 0;
}
.self, .content > li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.projectMainFolder span {
    font-weight: bold;    
}
.fa-folder {
    display: inline-block;
    padding: 4px;
}
ul > span, li > span {
    display: inline-block;
    padding: 4px;
}
.fileCode {
    width: 100%;
    height: 100%
}
.fileCode > ul {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}
.fileCode > ul > li {
    margin: 0;
    position: relative;
}