#explorer {
    width: 25%;
    min-width: var(--minWidthExplorer);
    height: 100%;
    background-color: var(--explorerColor);
    padding: 4px;
    overflow: auto;
}
#explorer::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    border: 1px solid rgb(66, 66, 66);
    background: rgb(30, 30, 30); 
}
::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(79, 79, 79); 
}
.folder, .file {
    margin-left: 20px;
}
#root {
    margin-left: 0;
}
.self, .content > li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.projectMainFolder span {
    font-weight: bold;    
}
.fa-folder {
    display: inline-block;
    padding: 4px;
}
ul > span, li > span {
    display: inline-block;
    padding: 4px;
}
.createFolderWrapper {
    width: 100%;
    padding: 16px 0;
}
.createFolder {
    width: 70%;
    padding: 8px;
    border-radius: 2px;
    margin: auto;
    text-align: center;
    background-color: var(--buttonColor);
    cursor: pointer;
    transition: var(--defTransition);
}
.createFolder:hover {
    background-color: var(--buttonHoverColor);
}
.inputNameDiv {
    width: 100%;
    padding: 16px 0;
    text-align: center;
}
.inputNameInput {
    width: 50%;
    border: 2px solid transparent;
    border-radius: 2px;
    padding: 4px;
    background-color: var(--inputColor);
    outline: none;
}
.inputNameInput:focus {
    border: 2px solid var(--buttonHoverColor);
}