#explorer {
    width: 25%;
    min-width: var(--minWidthExplorer);
    height: 100%;
    background-color: var(--explorerColor);
    overflow: auto;
}
#explorer::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    border: 1px solid rgb(66, 66, 66);
    background: rgb(30, 30, 30); 
}
::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(79, 79, 79); 
}
.folder {
    margin-left: 28px;
}
#root > .folder {
    margin-left: 0;
}
#root > .folder:hover {
    border-top: rgb(204, 204, 204);
}
#root {
    margin-left: 0;
    cursor: pointer;
}
.self {
    display: flex;
    justify-content: space-between;
    transition: var(--iconTransition);
}
.self, .content > li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.file {
    margin-left: 28px;
    display: flex;
    align-items: center;
}
.projectMainFolder span {
    font-weight: bold;    
}
.self > img {
    width: 30px;
    height: 30px;
    padding: 4px;
}
.folder > span, .file > span {
    display: inline-block;
    padding: 4px;
}
.createFolderWrapper {
    width: 100%;
    padding: 16px 0;
}
.createFolder {
    width: 70%;
    padding: 8px;
    border-radius: 2px;
    margin: auto;
    text-align: center;
    background-color: var(--buttonColor);
    cursor: pointer;
    transition: var(--defTransition);
}
.createFolder:hover {
    background-color: var(--buttonHoverColor);
}
.inputNameDiv {
    /* width: 100%; */
    margin-left: 28px;
}
#root > .inputNameDiv {
    margin-left: 0;
}
.inputNameInput {
    border: 2px solid transparent;
    border-radius: 2px;
    padding: 4px;
    background-color: var(--inputColor);
    background-color: var(--codeAreaColor);
    outline: none;
}
.inputNameInput:focus {
    border: 2px solid var(--buttonHoverColor);
}
.iconsWrapper {
    display: flex;
    flex-direction: row;
    transition: var(--iconTransition);
    opacity: 0;
}
#explorer:hover .iconsWrapper {
    opacity: 1;
}
.iconArrowWrapper {
    display: flex;
    align-items: center;
}
.iconArrowWrapper > span {
    padding-top: 4px;
}
.iconArrowWrapper > img, .iconsWrapper > img, li > img {
    width: 30px;
    height: 30px;
    padding: 4px;
}
.self:hover, .file:hover {
    background-color: var(--itemHoverColor);
}
.self:focus, .file:focus {
    background-color: var(--itemFocusColor); 
    outline: none;
}
.editDiv {
    margin-left: 0;
}
.editInput {
    background-color: var(--codeAreaColor)
}