#menu {
    width: 100%;
    padding: 5px;
    min-width: calc(var(--minWidthExplorer) + var(--minWidthCodeArea));
    height: calc(30px);
    background-color: var(--menuColor);
    text-align: center;
    color: var(--grey);
    line-height: 20px;
    border-bottom: 0.5px solid grey;
}
/* #menu > ul {
    display: flex;
    flex-direction: row;
}
#menu > ul > li > span {
    display: inline-block;
    line-height: 30px;
    padding: 5px;
} */